---
layout: top
title: ホーム
published: true
---
  <style type="text/css">
  body {
    /* 画像ファイルの指定 */
    background-image: url("{{ '角砂糖集合' | append: '.jpg' | prepend: '/images/featured/' | prepend: site.baseurl }}");

    /* 画像を常に天地左右の中央に配置 */
    background-position: center center;
     
    /* 画像をタイル状に繰り返し表示しない */
    background-repeat: no-repeat;
     
    /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
    background-attachment: fixed;
     
    /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
    background-size: cover;
     
    /* 背景画像が読み込まれる前に表示される背景のカラー */
    background-color: #FFF;
    
    /* スクロール禁止 */
    overflow: hidden;
    height: 100%;

  }

  /*アニメーションの作成*/
  p {
    animation: fadeIn 1s ease 0s 1 normal;
    -webkit-animation: fadeIn 1s ease 0s 1 normal;
  }

  h1 {
    animation: fadeIn 3s ease 0s 1 normal;
    -webkit-animation: fadeIn 3s ease 0s 1 normal;
  }

  a {
    animation: fadeIn 6s ease 0s 1 normal;
    -webkit-animation: fadeIn 6s ease 0s 1 normal;
  }

  @keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  @-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
  }

  </style>
        <div class="toptext-box">
          <p>{{ site.description }}</p>

          <nav class="menu">
            <a href="{{ '/' | prepend: site.baseurl }}" class="nav-title {% if site.title.size > 9 %}long-title{% endif %}"><h1>{{ site.title }}</h1></a>
            {% for link in site.data.nav-links %}
              <a class="nav-link" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
            {% endfor %}

          </nav>

  </div>