<ul class="post-list">
    {% for post in post_list %}
    <li>
        <a href="https://getpocket.com/save?url={{ post.url | prepend: site.baseurl | prepend: site.url }}&title={{ post.title }}" title="Pocketに保存する" target="_blank">
          <span class="pocket-icon">
              {% include icons/pocket.html %}
          </span>
        </a>
        <span class="post-meta">{{ post.date | date: "%Y年%m月%d日" }}</span>
        <span class="post-meta">&nbsp;|&nbsp;</span>
        <span class="post-meta">{{ post.content.size | divided_by: 160 | floor | append: ' 分かかる' }}</span>
        <div class="disqus-comment-count" data-disqus-url="{{ post.url | prepend: site.baseurl }}">{{ comment_count }}</div>

        <h2>
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>

        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
            <p>{{ post.excerpt | truncatewords: 30 }}</p>
        </a>

        <a href="{{ post.url | prepend: site.baseurl }}" class="index-button">さらに読む...</a>
    </li>
    {% endfor %}
</ul>