<div class="member-container {{ include.columnClass }}">
  <figure itemscope itemtype="http://schema.org/Person">
    {% if member.img %}
    <img src="{{ member.img }}" alt="{{ member.name | append: ', ' | append: site.title }}" itemprop="image" />
    {% elsif member.github_username %}
    {% avatar {{ member.github_username }} size=120 %}
    {% else %}
    {% avatar {{ site.github_username }} size=120 %}
    {% endif %}
    <figcaption>
    <h3 class="member-name" itemprop="name">{{ member.name }}</h3>
    <h4 class="member-role" itemprop="jobTitle">{{ member.role }}</h4>
    <span class="member-desc" itemprop="description">{{ member.description }}</span>
    <a href="mailto:{{ member.email }}" title="{{ member.name | prepend: 'Email ' }}" itemprop="email">
      {% include icons/mail.html %}
    </a>
    </figcaption>
  </figure>
</div>
