---
layout: blog
title: アーカイブ
published: true
---
<h1 class="page-heading">{{ page.title }}</h1>

<section class="list">
    <div class="post-content collection-content">
        {% assign count = 1 %}
        {% for post in site.posts  %}
        {% capture this_date %}{{ post.date }}{% endcapture %}
        {% capture next_date %}{{ post.previous.date }}{% endcapture %}
        {% capture this_date_str %}{{ this_date | date: "%Y-%m" }}{% endcapture %}
        {% capture next_date_str %}{{ next_date | date: "%Y-%m" }}{% endcapture %}
        {% if this_date_str != next_date_str %}
        <ul class="archive-list">
            <li class="archive-list-item">
                <h4>
                    <a class="archive-list-link" href="#{{ this_date | date: "%Y-%m" }}">{{ this_date | date: "%b, %Y" }}</a>
                    <span class="archive-list-count">({{ count }})</span>
                    {% assign count = 1 %}
                    {% else %}
                    {% assign count = count | plus: 1 %}
                    {% endif %}
                </h4>
            </li>
        </ul>
        {% endfor %}
    </div>
</section>

<section class="tag-list">
    <ul class="post-list">
    {% for post in site.posts  %}
    {% capture this_date %}{{post.date | date:"%Y-%m"}}{% endcapture %}
    {% if year != this_date %}
    {% assign year = this_date %}
    <h2 class="page-heading" id="{{ year }}">{{ post.date | date: "%b, %Y" }}</h2>
    {% endif %}

        {% include post-details-archive.html %}

    <div class="breaker"></div>
    {% endfor %}
    </ul>
</section>
