---
layout: blog
title: Blog
---
<h1 class="page-heading">Posts</h1>
<!-- Blog / news index -->
<ul class="post-list">
  {% for post in paginator.posts %}
  {% include post-details.html %}
  {% endfor %}
</ul><!-- End blog / news index -->
<!-- Pagination links -->
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.baseurl }}" class="paginate-link active previous" title="Previous Page">PREV</a>
  {% else %}
    <span class="paginate-link previous">PREV</span>
  {% endif %}
  <span class="page_number ">{{ paginator.page }} / {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}" class="paginate-link active next" title="Next Page">NEXT</a>
  {% else %}
    <span class="paginate-link next">NEXT</span>
  {% endif %}
</div><!-- End pagination -->
