---
layout: blog
title: タグ
---
<h1 class="page-heading">{{ page.title }}</h1>

<section class="list">
    <div class="post-content collection-content">
        {% assign tags_list = site.tags %}

        {% if tags_list.first[0] == null %}
        {% for tag in tags_list %}
        <a href="#{{ tag | slugify }}" class="tag-link">{{ tag }}</a>
        {% endfor %}
        {% else %}
        {% for tag in tags_list %}
        <a href="#{{ tag[0] | slugify }}" class="tag-link">{{ tag[0] }}</a>
        {% endfor %}
        {% endif %}

        {% assign tags_list = nil %}
    </div>
</section>

<section class="tag-list">
    {% for tag in site.tags  %}
    <h2 class="page-heading" id="{{ tag[0] | slugify }}">#{{ tag[0] }}</h2>

    <ul class="post-list">
        {% assign pages_list = tag[1] %}
        {% for post in pages_list %}
            {% if post.title != null %}
                {% if group == null or group == post.group %}
                {% include post-details-archive.html %}
                {% endif %}
            {% endif %}
        {% endfor %}
        {% assign pages_list = nil %}
        {% assign group = nil %}
    </ul>

    <div class="breaker"></div>
    {% endfor %}
</section>
