---
layout: page
title: Lindelin
description: >-
  Lindelinはクエンヤ語というJ.R.R.トルキンのエルフ言語で、「メロディー」という意味です。
introduction: >-
  Lindelin（リンデリン）はクリエティブで豊かな経験を持つ開発者によって結成された非営利団体です。
  主にオープンソース活動をしています。
permalink: /about/
published: true
search: false
---
<h1 class="page-heading">{{ site.title }}</h1>
<!-- About page introduction -->
<div class="post-content collection-content">
  <p>{{ page.introduction }}</p>
</div>
<!-- End about page introduction -->
<!-- Team members -->
{% if site.data.team-members.size > 0 %}
<section class="team-members">
  <h2 align="center">私たち</h2>
  <div class="grid-container">
    {% for member in site.data.team-members %}
    {% comment %}Check whether total no. of staff members is odd / even and structure final member accordingly{% endcomment %}
    {% assign columnMod = forloop.length | modulo:2 %}
    {% if columnMod == 0 %}
      {% cycle '<div class="row">', '' %}
      <!-- Team member card -->
      {% include staff-card.html columnClass='one-half col' %}<!-- End team member card -->

      {% cycle '', '</div>' %}
    {% else %}
      {% unless forloop.last == true %}
        {% cycle '<div class="row">', '' %}
        <!-- Team member card -->
        {% include staff-card.html columnClass='one-half col' %}<!-- End team member card -->

        {% cycle '', '</div>' %}
      {% else %}
      <!-- Team member card -->
        {% include staff-card.html columnClass='one-half col final-col' %}<!-- End team member card -->
      {% endunless %}
    {% endif %}
  {% endfor %}
  </div>
</section>
{% endif %}<!-- End team members -->

<!-- Careers link -->
{% if site.data.career-vacancies.size > 0 %}
<a href="{{ '/careers' | prepend: site.baseurl }}" title="{{ site.title | prepend: 'Careers at '}}" class="careers-link">
  <h2 align="center">メンバー募集中です！</h2>
  <span>全職種とも学歴・年齢は不問です。</span>
  <p>{{ site.title }}の募集要項を見る</p>
</a><!-- End careers link -->
{% endif %}

{% if site.data.locations.size > 0 %}
<!-- Office locations map -->
<section class="office-locations">
  <h2 align="center">私たちの場所</h2>
  <div class="map-container">
    <div>
      <div class="row">
        <div id="aboutmap_wrapper">
          <div id="map" style="width:100%; height:100%"></div>
        </div>
      </div>
    </div>
  </div>
</section><!-- End office locations map -->
{% endif %}

{% if site.email %}
<!-- Contact form -->
<section id="contact">
    <h2 align="center">お問い合わせ</h2>
    <form action="https://formspree.io/{{ site.email }}" method="POST" class="formspree" name="contact">
      <input type="text" placeholder="お名前" class="name" name="name" rows="1" required />

      <input type="email" name="email" placeholder="メールアドレス" maxlength="36" pattern="[a-zA-Z0-9_\.\+-]+@[a-zA-Z0-9-]+\.[a-zA-Z0-9-\.]+" class="email" required />

      <textarea name="message" placeholder="メッセージ" rows="3" class="message"></textarea>
      <input type="hidden" name="_subject" value="A new contact form Lindelin's Official Website" />
      <button type="submit" class="send">送信します</button>

      <input type="text" name="_gotcha" style="display:none" />
      <input type="hidden" name="_next" value="/" />
    </form>
</section>
<!-- End form -->
{% endif %}

{% include mapjs.html %}

{% include formjs.html %}
