---
layout: page
title: Join Us
description: Lindelinは、絶えず一緒にチャレンジに参加したいと思う人、まだ誰も踏み込んでいない新しい分野に共に挑んでくれる人を常に募集しています。
permalink: /careers/
---
{% for vacancy in site.data.career-vacancies %}
<!-- Career vacancies index -->
<ul class="careers-index">
  <!-- Career vacancy listing -->
  <li itemscope itemtype="jobPosting">
    <h2 itemprop="title">{{ vacancy.title }}</h2>
    {% include social-shares.html %}
    <span class="salary" itemprop="baseSalary">{{ vacancy.salary }}</span>
    <p class="vacancy-description" itemprop="description">{{ vacancy.description }}</p>
    {% if vacancy.essential-criteria.size > 0 %}
    <h3>必須基準</h3>
    <ol itemprop="qualifications skills">
      {% for criterion in vacancy.essential-criteria %}
      <li>
        {{ criterion }}
      </li>
      {% endfor %}
    </ol>
    {% endif %}

    {% if vacancy.essential-criteria.size > 0 %}
    <br>
    <h3>求める人材像</h3>
    <ol itemprop="qualifications skills">
      {% for criterion in vacancy.desirable-criteria %}
      <li>
        {{ criterion }}
      </li>
      {% endfor %}
    </ol>
    {% endif %}
    {% if vacancy.closing-date %}
    <br>
    <h3>締め切り</h3>
    <span class="closing-date">{{ vacancy.closing-date | date: "%Y年%m月%d日" }}</span>
    {% endif %}

    <a href="mailto:{{ site.email | append: '' }}" class="button">エントリー</a>
  </li><!-- End career vacancy listing -->
</ul><!-- End career vacancies index -->
{% endfor %}
