---
layout: page
title: だうんろーど
description: 必要に応じてリソースをダウンロードできます。
permalink: /resources/
related: ぷろじぇくと さーびす いべんと
---
<ul class="post-list resource-index">
{% for resource in site.data.resources %}
  <li>
    <h4>
      <a class="post-link" href="{{ resource.path | prepend: site.baseurl }}">{{ resource.title }}</a>
    </h4>

    <span>{{ resource.published-date | date: "%Y年%m月%d日" | prepend: '掲載日: ' }}</span>

    <a class="post-link" href="{{ resource.path | prepend: site.baseurl }}">
      <p>{{ resource.description | truncatewords: 30 }}</p>
    </a>

    <a href="{{ resource.path | prepend: site.baseurl }}" class="index-button">ダウンロードする</a>
  </li>
{% endfor %}
</ul>

{% include related-sections.html %}
